<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Branch Manager Profile</title>
	<link rel="stylesheet" href="/static/css/style.css">
	</head>
<body class="manager-page">
	{% include '_manager_nav.html' %}
	<div class="manager-profile-wrap">
		
		<div class="manager-profile-card">
			<h3>Manager Info</h3>
			<p class="manager-profile-line"><span>Name:</span> {{ user.username }}</p>
			<p class="manager-profile-line"><span>Contact No:</span> {{ user.contact_no }}</p>
			<p class="manager-profile-line"><span>Assigned Branch ID:</span> {{ user.branch_id }}</p>
		</div>
	</div>
</body>
</html>
