<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e3ed4b3b04e08859c5d2fdf3940cbe4a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
    <div style="position: fixed; 
                bottom: 50px; left: 50px; width: 200px; height: auto; 
                background-color: white; border:2px solid grey; z-index:9999; 
                font-size:14px; padding: 10px">
    <h4>Route Legend</h4>
    <p><span style="color:red;">■</span> Day 1</p></div>
    
            <div class="folium-map" id="map_e3ed4b3b04e08859c5d2fdf3940cbe4a" ></div>
        
</body>
<script>
    
    
            var map_e3ed4b3b04e08859c5d2fdf3940cbe4a = L.map(
                "map_e3ed4b3b04e08859c5d2fdf3940cbe4a",
                {
                    center: [10.0842, 76.2971],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 11,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_c9526c052df5dfc057d417f655c1c216 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_c9526c052df5dfc057d417f655c1c216.addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_25db613248fc66501e715678afa817a5 = L.polyline(
                [[10.0842, 76.2971], [9.4459, 76.5482]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_ad9db7cbaf4c16f8871e617d4d9947aa = L.polyline(
                [[9.4459, 76.5482], [9.6686, 76.5497]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_1594f47be729bbeab7d96cfd78d574d4 = L.polyline(
                [[9.6686, 76.5497], [10.0678, 76.6228]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_f223ce578146cbcd3724e30fe3626601 = L.polyline(
                [[10.0678, 76.6228], [9.5915, 76.5222]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_7c6fcbd67f530c3cb6d63c245cd8c1a4 = L.polyline(
                [[9.5915, 76.5222], [9.9857, 76.5773]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_e4acbe496ee7448168cdb07cb8b5ace3 = L.polyline(
                [[9.9857, 76.5773], [9.7378, 76.6794]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_66f89516c46278661a78db8c224ddbe9 = L.polyline(
                [[9.7378, 76.6794], [10.1115, 76.4737]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_e01f746ec080bd437c124ead244435d7 = L.polyline(
                [[10.1115, 76.4737], [10.0236, 76.5656]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_55c258f7db0974a2e5d52d9ad1fae28e = L.polyline(
                [[10.0236, 76.5656], [9.7486, 76.3969]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var poly_line_79ab0c60426ac99dc4af4dff9b998fb7 = L.polyline(
                [[9.7486, 76.3969], [10.0842, 76.2971]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": "5,5", "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.5, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var marker_fde17e87c13f45c6c222a4fdf0dda610 = L.marker(
                [10.0842, 76.2971],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_ed81282f37a47f2dbed7236bddac4067 = L.AwesomeMarkers.icon(
                {
  "markerColor": "blue",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_643265a08b3e6b92fe6d8072755bc522 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_52c6c33ee135c67d95dbfb8c96f56308 = $(`<div id="html_52c6c33ee135c67d95dbfb8c96f56308" style="width: 100.0%; height: 100.0%;">HQ - Manjummel</div>`)[0];
                popup_643265a08b3e6b92fe6d8072755bc522.setContent(html_52c6c33ee135c67d95dbfb8c96f56308);
            
        

        marker_fde17e87c13f45c6c222a4fdf0dda610.bindPopup(popup_643265a08b3e6b92fe6d8072755bc522)
        ;

        
    
    
                marker_fde17e87c13f45c6c222a4fdf0dda610.setIcon(icon_ed81282f37a47f2dbed7236bddac4067);
            
    
            var marker_c56dc3ff72244d13feca8a91afe644ca = L.marker(
                [10.1076, 76.3516],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_c3c7cb3eca8f8c95922ea8ffb6d591bd = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_7deaef8dfbb6e2e664e89892d7c61df2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_69764a65c699f9eeed546a9909aae705 = $(`<div id="html_69764a65c699f9eeed546a9909aae705" style="width: 100.0%; height: 100.0%;">Aluva Town</div>`)[0];
                popup_7deaef8dfbb6e2e664e89892d7c61df2.setContent(html_69764a65c699f9eeed546a9909aae705);
            
        

        marker_c56dc3ff72244d13feca8a91afe644ca.bindPopup(popup_7deaef8dfbb6e2e664e89892d7c61df2)
        ;

        
    
    
                marker_c56dc3ff72244d13feca8a91afe644ca.setIcon(icon_c3c7cb3eca8f8c95922ea8ffb6d591bd);
            
    
            var marker_d0aebb147e4a40c08781f6c3ff5eb2fa = L.marker(
                [10.1961, 76.3869],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_0b4399845583a2b77c15f72cf7f40772 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b686e5c420ed46df712a7a416a864f86 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_63bf3700009b0515048d124e0fd60675 = $(`<div id="html_63bf3700009b0515048d124e0fd60675" style="width: 100.0%; height: 100.0%;">Angamaly Town</div>`)[0];
                popup_b686e5c420ed46df712a7a416a864f86.setContent(html_63bf3700009b0515048d124e0fd60675);
            
        

        marker_d0aebb147e4a40c08781f6c3ff5eb2fa.bindPopup(popup_b686e5c420ed46df712a7a416a864f86)
        ;

        
    
    
                marker_d0aebb147e4a40c08781f6c3ff5eb2fa.setIcon(icon_0b4399845583a2b77c15f72cf7f40772);
            
    
            var marker_b3b48cc3537e4ec5b9df7e17c28939f4 = L.marker(
                [9.4459, 76.5482],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_627c88ab8822f4464649461ff9a0b5a5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_09c8b9f2cab316fe3958192c1bd29fbd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_03956a54e370c966132801d2ab444ee7 = $(`<div id="html_03956a54e370c966132801d2ab444ee7" style="width: 100.0%; height: 100.0%;">Day 1 - Changanassery Branch</div>`)[0];
                popup_09c8b9f2cab316fe3958192c1bd29fbd.setContent(html_03956a54e370c966132801d2ab444ee7);
            
        

        marker_b3b48cc3537e4ec5b9df7e17c28939f4.bindPopup(popup_09c8b9f2cab316fe3958192c1bd29fbd)
        ;

        
    
    
                marker_b3b48cc3537e4ec5b9df7e17c28939f4.setIcon(icon_627c88ab8822f4464649461ff9a0b5a5);
            
    
            var marker_bb20c6869c9aaa46362dfe4a175c358f = L.marker(
                [10.0263, 76.3082],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_2d7dffb91467c091d5bbb59fef8e638a = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_34cbf202fad14327b45eb4cec95a03f5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_76618f21e4402d5f1bd93abe445248b5 = $(`<div id="html_76618f21e4402d5f1bd93abe445248b5" style="width: 100.0%; height: 100.0%;">Edappally Toll</div>`)[0];
                popup_34cbf202fad14327b45eb4cec95a03f5.setContent(html_76618f21e4402d5f1bd93abe445248b5);
            
        

        marker_bb20c6869c9aaa46362dfe4a175c358f.bindPopup(popup_34cbf202fad14327b45eb4cec95a03f5)
        ;

        
    
    
                marker_bb20c6869c9aaa46362dfe4a175c358f.setIcon(icon_2d7dffb91467c091d5bbb59fef8e638a);
            
    
            var marker_0cf1d356118bc29e73f93e435bb2f972 = L.marker(
                [9.6686, 76.5497],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_8298340ad5749a260d29f2656b8649cf = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_4fdd15c7f53d0a6d56f6debe5f409655 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_428b5fb63bd108ef7d203c3cdfa32754 = $(`<div id="html_428b5fb63bd108ef7d203c3cdfa32754" style="width: 100.0%; height: 100.0%;">Day 1 - Ettumanoor Branch</div>`)[0];
                popup_4fdd15c7f53d0a6d56f6debe5f409655.setContent(html_428b5fb63bd108ef7d203c3cdfa32754);
            
        

        marker_0cf1d356118bc29e73f93e435bb2f972.bindPopup(popup_4fdd15c7f53d0a6d56f6debe5f409655)
        ;

        
    
    
                marker_0cf1d356118bc29e73f93e435bb2f972.setIcon(icon_8298340ad5749a260d29f2656b8649cf);
            
    
            var marker_65a2f0b2c5e9085a1f0ece43a2fb10bb = L.marker(
                [10.0517, 76.3284],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_1799962ec53aba12565176f88a3c3da9 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_103da7c29cc8694060d18e600827562c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_021e0a908102ea1c7d44ed18439ac886 = $(`<div id="html_021e0a908102ea1c7d44ed18439ac886" style="width: 100.0%; height: 100.0%;">Kalamassery</div>`)[0];
                popup_103da7c29cc8694060d18e600827562c.setContent(html_021e0a908102ea1c7d44ed18439ac886);
            
        

        marker_65a2f0b2c5e9085a1f0ece43a2fb10bb.bindPopup(popup_103da7c29cc8694060d18e600827562c)
        ;

        
    
    
                marker_65a2f0b2c5e9085a1f0ece43a2fb10bb.setIcon(icon_1799962ec53aba12565176f88a3c3da9);
            
    
            var marker_6ea7def69db19993e69542a1f69390a0 = L.marker(
                [10.0678, 76.6228],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_bbece767c53ed0e6ae73f72b492ef051 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_f4f0b4d8378a352ee47406c91fc16187 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5ae81fada6479c61c4155342c33b88f2 = $(`<div id="html_5ae81fada6479c61c4155342c33b88f2" style="width: 100.0%; height: 100.0%;">Day 1 - Kothamangalam</div>`)[0];
                popup_f4f0b4d8378a352ee47406c91fc16187.setContent(html_5ae81fada6479c61c4155342c33b88f2);
            
        

        marker_6ea7def69db19993e69542a1f69390a0.bindPopup(popup_f4f0b4d8378a352ee47406c91fc16187)
        ;

        
    
    
                marker_6ea7def69db19993e69542a1f69390a0.setIcon(icon_bbece767c53ed0e6ae73f72b492ef051);
            
    
            var marker_f402283445c8bb3cd2ff568955a26511 = L.marker(
                [9.5915, 76.5222],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_08df928a7dd5f772edb69928a93b14a6 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ac4813d12c59ac7220ddc3cd2adc899c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c16a92a6dbd5e586b739df224cf4ee45 = $(`<div id="html_c16a92a6dbd5e586b739df224cf4ee45" style="width: 100.0%; height: 100.0%;">Day 1 - Kottayam Town Branch</div>`)[0];
                popup_ac4813d12c59ac7220ddc3cd2adc899c.setContent(html_c16a92a6dbd5e586b739df224cf4ee45);
            
        

        marker_f402283445c8bb3cd2ff568955a26511.bindPopup(popup_ac4813d12c59ac7220ddc3cd2adc899c)
        ;

        
    
    
                marker_f402283445c8bb3cd2ff568955a26511.setIcon(icon_08df928a7dd5f772edb69928a93b14a6);
            
    
            var marker_2a62657820082ca51127989b1b323b8d = L.marker(
                [9.9857, 76.5773],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_1a0a52a459e27fdaa942a52196572d5e = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_c9552967a2d8514a51f87f8f773cde83 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f30b1e0f940f0946ad8f036f13bb75d0 = $(`<div id="html_f30b1e0f940f0946ad8f036f13bb75d0" style="width: 100.0%; height: 100.0%;">Day 1 - Muvattupuzha Town</div>`)[0];
                popup_c9552967a2d8514a51f87f8f773cde83.setContent(html_f30b1e0f940f0946ad8f036f13bb75d0);
            
        

        marker_2a62657820082ca51127989b1b323b8d.bindPopup(popup_c9552967a2d8514a51f87f8f773cde83)
        ;

        
    
    
                marker_2a62657820082ca51127989b1b323b8d.setIcon(icon_1a0a52a459e27fdaa942a52196572d5e);
            
    
            var marker_81225e25d8337edc5c4f12839f7aaf9e = L.marker(
                [9.7378, 76.6794],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_969f2a0f475d642450fdca72d945f79b = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_10883805bf37e8fc457f552c3fd7ab61 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b69b4a6e4c8b55e4d59e93143f4d8ac4 = $(`<div id="html_b69b4a6e4c8b55e4d59e93143f4d8ac4" style="width: 100.0%; height: 100.0%;">Day 1 - Pala Branch</div>`)[0];
                popup_10883805bf37e8fc457f552c3fd7ab61.setContent(html_b69b4a6e4c8b55e4d59e93143f4d8ac4);
            
        

        marker_81225e25d8337edc5c4f12839f7aaf9e.bindPopup(popup_10883805bf37e8fc457f552c3fd7ab61)
        ;

        
    
    
                marker_81225e25d8337edc5c4f12839f7aaf9e.setIcon(icon_969f2a0f475d642450fdca72d945f79b);
            
    
            var marker_836dea5414db93331d8d499fac4963c6 = L.marker(
                [10.0349, 76.3071],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_e99920dcd297f89deb98a79e5a64eebd = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ff5a2a2ff7ab9e8baaef5500a10d7ed2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8287385e38c8e3025c11d169f7089e52 = $(`<div id="html_8287385e38c8e3025c11d169f7089e52" style="width: 100.0%; height: 100.0%;">Pathadipalam</div>`)[0];
                popup_ff5a2a2ff7ab9e8baaef5500a10d7ed2.setContent(html_8287385e38c8e3025c11d169f7089e52);
            
        

        marker_836dea5414db93331d8d499fac4963c6.bindPopup(popup_ff5a2a2ff7ab9e8baaef5500a10d7ed2)
        ;

        
    
    
                marker_836dea5414db93331d8d499fac4963c6.setIcon(icon_e99920dcd297f89deb98a79e5a64eebd);
            
    
            var marker_0fb72e462490591a41ec9854f437bbae = L.marker(
                [10.1115, 76.4737],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_9512a683f839a1a664080410b25f0fe3 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_eb628269ec85975fdd1fcf30df9f525b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1cc02580ec4fa12385b057962e4415e3 = $(`<div id="html_1cc02580ec4fa12385b057962e4415e3" style="width: 100.0%; height: 100.0%;">Day 1 - Perumbavoor</div>`)[0];
                popup_eb628269ec85975fdd1fcf30df9f525b.setContent(html_1cc02580ec4fa12385b057962e4415e3);
            
        

        marker_0fb72e462490591a41ec9854f437bbae.bindPopup(popup_eb628269ec85975fdd1fcf30df9f525b)
        ;

        
    
    
                marker_0fb72e462490591a41ec9854f437bbae.setIcon(icon_9512a683f839a1a664080410b25f0fe3);
            
    
            var marker_9ac6d368d38b9b6bd165af7b98dad6c2 = L.marker(
                [10.0236, 76.5656],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_93feaf4bc75b53b31a88baf4e26def20 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2fe2971c7e29420f456724a4805a3d0b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_51bc2f15d299aaca5d4d2458ca5c81c5 = $(`<div id="html_51bc2f15d299aaca5d4d2458ca5c81c5" style="width: 100.0%; height: 100.0%;">Day 1 - Pezhakkapilly</div>`)[0];
                popup_2fe2971c7e29420f456724a4805a3d0b.setContent(html_51bc2f15d299aaca5d4d2458ca5c81c5);
            
        

        marker_9ac6d368d38b9b6bd165af7b98dad6c2.bindPopup(popup_2fe2971c7e29420f456724a4805a3d0b)
        ;

        
    
    
                marker_9ac6d368d38b9b6bd165af7b98dad6c2.setIcon(icon_93feaf4bc75b53b31a88baf4e26def20);
            
    
            var marker_178d9dfa0ec23248aab37088f720dd56 = L.marker(
                [9.7486, 76.3969],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_a3d0e447b9a289ffacd1e07b2569dedd = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_96e1398c267d1346472d24360f4912b8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_86edbaa7eb28015d557840b51419f8c2 = $(`<div id="html_86edbaa7eb28015d557840b51419f8c2" style="width: 100.0%; height: 100.0%;">Day 1 - Vaikom Branch</div>`)[0];
                popup_96e1398c267d1346472d24360f4912b8.setContent(html_86edbaa7eb28015d557840b51419f8c2);
            
        

        marker_178d9dfa0ec23248aab37088f720dd56.bindPopup(popup_96e1398c267d1346472d24360f4912b8)
        ;

        
    
    
                marker_178d9dfa0ec23248aab37088f720dd56.setIcon(icon_a3d0e447b9a289ffacd1e07b2569dedd);
            
    
            var marker_28e1c7c3769a66e3000ee32b66e00640 = L.marker(
                [9.9715, 76.3185],
                {
}
            ).addTo(map_e3ed4b3b04e08859c5d2fdf3940cbe4a);
        
    
            var icon_0c93fc573070f09b207a42025a0ab75d = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_e271133edb76c0873f8d794713104ea0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a67d23aa32f203b2c926e823604d338f = $(`<div id="html_a67d23aa32f203b2c926e823604d338f" style="width: 100.0%; height: 100.0%;">Vyttila</div>`)[0];
                popup_e271133edb76c0873f8d794713104ea0.setContent(html_a67d23aa32f203b2c926e823604d338f);
            
        

        marker_28e1c7c3769a66e3000ee32b66e00640.bindPopup(popup_e271133edb76c0873f8d794713104ea0)
        ;

        
    
    
                marker_28e1c7c3769a66e3000ee32b66e00640.setIcon(icon_0c93fc573070f09b207a42025a0ab75d);
            
</script>
</html>